<footer class="footer">
  <a class="aboutMe" href="https://portfolio-4e430.web.app/aboutme">ABOUT ME</a>
  <a class="portfolioLink" href="https://portfolio-4e430.web.app/">PORTFOLIO</a>
  <a class="githubLink" href="https://github.com/adyang94">GITHUB</a>

</footer>