<!DOCTYPE html>
<html>

<head>
  <title>Pharmacy Management App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/drug.css' />
  <link rel='stylesheet' href='/stylesheets/category.css' />
</head>

{{> header}}

<body>

  {{{body}}}

</body>

{{> footer}}

</html>